.header {
  height: 66px;
  margin-top: 20px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.header_container {
  display: flex;
  gap: 10px;
}

.header_container a {
  text-decoration: none;
  color: black;
}
